.csv{
    /* flex: 1; */
    /* overflow: scroll; */
    width: 390px;
    height: 280px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    /* margin-left: 25px; */
}
.header_csv{
  margin-left: 120px;
  color: rgba(128, 0, 128, 0.742);
  font-weight: bold;
}
.csv_table{
  overflow: scroll;
  width: 390px;
  height: 260px;
}
/* Table styles */
table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: 1px;
    font-size: x-small;
  }
  
  thead {
    background-color: #fac29a;
    color: white;
    position: sticky;
    top: 0;
  }
  
  th, td {
    padding: 8px 5px;
    border: 2px solid rgba(0, 0, 0, 0.082);
    text-align: left;
  }
  
  /* tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  th {
    background-color: rgba(245, 229, 166, 0.5);
    color: rgba(128, 0, 128, 0.742);
  }
  
  td {
    color: #333;
  }
  .csv .highlight {
    background-color: rgba(245, 229, 166, 0.5); /* Highlight color */
}